@import 'bootstrap';
@import 'bootstrap-icons';

:root {
    --header-height: 60px;
    --primary-color: #1e1e1e;
    --secondary-color: #1f1f1f;
    --tertiary-color: #fff;
    --main-bg-color: #262626;
    --form-color: #171717;
    --highlight-color: #dbbf56;
}

body {

    background-color: var(--main-bg-color) !important;
    color: white !important;

    .vinyl-card {
        background-color: var(--main-bg-color);
        transition: transform 0.2s, box-shadow 0.3s;
        border: 0px;

        &:hover {
            transform: scale(1.01);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
        }

        a {
            text-decoration: inherit !important;
            color: white !important;
        }

        .add-to-cart-btn {
            background-color: var(--highlight-color);
        }
    }
}


#headerNav {

    background-color: var(--primary-color);
    height: var(--header-height);

    #header-right-section {
        width: 300px;

        ul {
            color: white !important;
        }

        #search-bar {
            width: 100%;
            color: var(--dark-color);
        }
    }

    .logo {
        margin-left: 20px;
        margin-top: 10px;
    }



    #cart-quantity {
        border-radius: 50%;
        color: white;
        width: 17px;
        height: 17px;
        position: absolute;
        top: 15px;
        left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1px;
        transform: translate(40%, -40%);
    }
}

main {

    .carousel-button {
        position: absolute;
        right: 110px;
        bottom: 90px;
    }

    #carousels-first-title {
        scroll-margin-top: 120px !important;
    }

    .vinyls-page {
        background-color: var(--main-bg-color) !important;

        .vinyls-page-card {
            background-color: var(--main-bg-color);
            transition: transform 0.2s, box-shadow 0.3s;
            border: 0px;
            text-decoration: none;
            background-color: var(--form-color) !important;
            color: var(--tertiary-color) !important;

            &:hover {
                transform: scale(1.01);
                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
            }


            .card-text {
                color: var(--tertiary-color) !important;
            }
        }
    }

    .list-group-item {
        background-color: var(--form-color) !important;
        color: var(--tertiary-color) !important;
        border: 1px solid var(--tertiary-color) !important;

    }

    .transition-img {
        transition: transform 0.3s ease;
    }

    .transition-img:hover {
        transform: scale(1.03);
    }


    .carousel-title {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .shop-now-btn {
        background-color: var(--highlight-color) !important;
        position: absolute;
        bottom: 200px;
        right: 210px;
        z-index: 10;
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
        border-radius: 5px;
    }

    .shop-now-btn:hover {
        background-color: var(--highlight-color) !important;
        color: black !important;
        cursor: pointer;
    }

    #jumbotron {
        margin: 0px !important;

        #carouselExampleIndicators {

            height: 600px;

            img {
                max-height: 400px;
            }

        }

    }



    .carousel-indicators {
        display: none;
        pointer-events: none;
        position: relative;
    }

    .carousel-item {
        margin-bottom: 100px;
    }

    #shop-section {
        scroll-margin-top: 80px !important;
    }




    #order-summary-container {


        height: calc(100vh - var(--header-height));

        #order-summary {
            height: calc(100vh - var(--header-height));
            display: flex;
            flex-direction: column;
            padding: 20px 0;

            #order-summary-list {
                overflow: auto;
            }
        }
    }
}




.order-summary-text {
    color: var(--tertiary-color);

}


.side-modal-overlay {
    position: fixed;
    top: 60px;
    right: 0;
    width: 380px;
    height: calc(100% - 60px);
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1050;
    transition: opacity 0.3s ease-in-out;
}

.side-modal-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px 0 0 10px;
}

#cart-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.cart-items-container {
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: visible;
}

.modal-footer {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    border-top: 1px solid #ddd;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);

}

.modal-footer .btn {
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;

}

.list-group {
    margin-bottom: 0;
}

.list-group-item {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
    }

    h5 {
        font-size: 1rem;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .list-group-item .d-flex {
        align-items: center;
        gap: 1px;
    }
}

div {
    h5 {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 10px;
    }

    .btn-success {
        background-color: #28a745;
        color: white;
        border-radius: 5px;
    }
}

.quantity-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: background-color 0.2s, transform 0.1s;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background-color: #e2e6ea;
        transform: scale(1.05);
    }
}

.btn-checkout {
    background-color: var(--highlight-color);
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;

    &:hover {
        background-color: var(--highlight-color);
        transform: scale(1.05);
        cursor: pointer;
        color: white;
    }
}

.success-icon {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.5rem;
    align-items: center;
    background-color: var(--primary-color);

    a:hover {
        text-decoration: underline;
    }
}